.header{
    background-color: white;
    width: 100%;
    height: 3rem;

   
}
.brand{
  position: absolute;
    left: 3rem;
color:rgb(163, 27, 147);
}
  li{
  
    display: inline-block;
    
   justify-content: space-between;
 margin-left:2rem ;
}
ul{
    position: absolute;
    
    text-align: center;
    display: flex;
    justify-content: center;
   

    
}

.links{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: .5rem;
    margin-right: 10rem;
    cursor: pointer;
}

.buttons{
justify-content: end;
display: flex;
margin-right: .5rem;
font-family: "Arvo", serif;

    
}

.login-btn,.reg-btn,.cart-btn{
margin-right: .5rem;
height: 2rem;
width: 5rem;
border-radius: 2rem;
border: 0;




}


.menu-btn{
font-size: 1.2rem;
position: absolute;
display: none;
}
/* after buttonclick */
.header1{
   background-color:white;
  width: 100%;
  height: auto;
 

 
}
li{
  
  display: inline-block;
  
 justify-content: space-between;
margin-left:2rem ;
}
.ul1{
  position: absolute;
  display: flex;
  flex-direction: column;
  margin-left: 7rem;
  margin-top: 2rem;
  font-family: "Arvo", serif;
 

  
}

.links1{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: .5rem;
  margin-right: 10rem;
  cursor: pointer;
}

.buttons1{
  margin-top: 260px;
  justify-content: center;
  margin-right: 2rem;
  display: flex;
  flex-wrap: wrap;
  font-family: "Arvo", serif;


  
}

.login-btn1,.reg-btn1,.cart-btn1{
margin-right: .5rem;
height: 2rem;
width: 5rem;
border-radius: 2rem;
background-color: white;
border: 0;



}

@media(max-width:750px){
  .links{
    display: none;
  }
  .buttons{
    display: none;
  }
 .header1{
        background-color: white;
        width: 100%;
        height: 300px;
    
       
    }  */
    .brand{
      position: absolute;
        left: 3rem;
        top: .5rem;
        color: rgb(163, 27, 147);
    }
    li{
      
     margin: 1rem;
     
     
    }
   .ul{
        position: absolute;
        display: flex;
        flex-direction: column;
        margin-left: 7rem;
        margin-top: 2rem;
        font-family: "Arvo", serif;
    
        
    }
  
    
    .menu-btn{
    font-size: 1.2rem;
    position: absolute;
    display: block;
    right: 1.5rem;
    top: .5rem;
    } 

}